<section class="container">
  <div class="">
    <h3 class="text-center text-primary m-3">Add Ticket</h3>
    <form [formGroup]="CreateTicketForm" (ngSubmit)="onSubmit()" class="form">
      <div class="form-group">
        <label class="text-primary">Description</label>
        <textarea class="form-control" formControlName="description" required style="max-height: 250px;"
          placeholder="Ticket Description"></textarea>
        <div *ngIf="CreateTicketForm.get('description')?.invalid && CreateTicketForm.get('description')?.touched"
          class="text-danger">
          Description is required.
        </div>
      </div>
      <div class="form-group mt-2">
        <label class="text-primary">Phone Number</label>
        <input type="text" class="form-control" formControlName="phoneNumber" required placeholder="+20 1111 111 1111">
        <div *ngIf="CreateTicketForm.get('phoneNumber')?.invalid && CreateTicketForm.get('phoneNumber')?.touched"
          class="text-danger">
          Phone Number is required.
        </div>
      </div>
      <div class="row">
        <div class="form-group mt-2 col-md-6">
          <label class="text-primary">Governorate</label>
          <select class="form-control" formControlName="governorate" required>
            <option value="null" disabled selected>Select Governorate</option>
            <option [value]="governorate" *ngFor="let governorate of governorates; let i = index">
              {{ getGovernorateValue(governorate) }}
            </option>
          </select>
          <div *ngIf="CreateTicketForm.get('governorate')?.invalid && CreateTicketForm.get('governorate')?.touched"
            class="text-danger">
            Governorate is required.
          </div>
        </div>
        <div class="form-group mt-2 col-md-6">
          <label class="text-primary">City</label>
          <select class="form-control" formControlName="city" required>
            <option value="null" disabled selected>Select City</option>
            <option [value]="city" *ngFor="let city of cities; let i = index">
              {{ getCityValue(city) }}
            </option>
          </select>
          <div *ngIf="CreateTicketForm.get('city')?.invalid && CreateTicketForm.get('city')?.touched"
            class="text-danger">
            City is required.
          </div>
        </div>
      </div>
      <div class="form-group mt-2">
        <label class="text-primary">District</label>
        <input type="text" class="form-control" formControlName="district" required placeholder="Enter your district">
        <div *ngIf="CreateTicketForm.get('district')?.invalid && CreateTicketForm.get('district')?.touched"
          class="text-danger">
          District is required.
        </div>
      </div>
      <div class="form-group mt-4">
        <button type="submit" [disabled]="CreateTicketForm.invalid" class="btn btn-outline-primary w-100">ADD</button>
      </div>
    </form>
  </div>
</section>