<div class="container-fluid d-flex justify-content-center align-items-center">

    <section class="row">
        <div class="col-6 d-flex align-items-center">
            <div class="text-center mt-3">
                <h2>
                    Welcome to our service
                </h2>
                <h4>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut autem officia, laboriosam distinctio maxime modi reiciendis quasi.
                </h4>
            </div>
        </div>
        <div class="col-6 d-flex align-items-center justify-content-center">
            <div class="w-80">
                <img src="../../../assets/Image/1673996008172.jpg" style="max-width: 100%; height: auto;">
            </div>
        </div>
    </section>
</div>
