<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Ticket System</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item" *ngIf="isAdmin">
          <a class="nav-link" [routerLink]="['ticket/']">Ticket</a>
        </li>
        <li class="nav-item" *ngIf="isUser">
          <a class="nav-link" [routerLink]="['ticket/add']">Add Ticket</a>
        </li>
      </ul>
      <span class="navbar-text" >
        <button class="btn btn-primary" [routerLink]="['acount/login']" [hidden]="(isAdmin || isUser)">Login</button>
        <button class="btn btn-primary" (click)="Logout()" [routerLink]="['/']" [hidden]="!(isAdmin || isUser)">logout</button>
      </span>
   
    </div>
  </div>
</nav>